.header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  z-index: 1;
  &__navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    a {
      text-decoration: none;
      color: inherit;
    }
    &__menu {
      display: flex;
      justify-content: right;
      z-index: 5;
      position: relative;
      @media screen and (min-width: 900px) {
        min-width: 120px;
      }
      span {
        display: grid;
        gap: 6px;
        cursor: pointer;
        .bar-1,
        .bar-2,
        .bar-3 {
          width: 25px;
          height: 3px;
          background-color: white;
          border-radius: 30px;
          transition: all 0.5s ease;
          @media screen and (min-width: 900px) {
            width: 30px;
          }
        }
        .bar-1.active {
          transform: rotate(45deg);
          position: relative;
          top: 9px;
        }
        .bar-2.active {
          transform: translateX(-30px);
          opacity: 0;
        }
        .bar-3.active {
          transform: rotate(-45deg);
          position: relative;
          bottom: 9px;
        }
      }
    }
  }
  &__flyout {
    background-color: rgba($color: #00000098, $alpha: 1);
    position: fixed;
    width: 100%;
    transition: all 0.4s ease;
    right: -100%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 900px) {
      width: 400px;
    }
    &__links {
      display: flex;
      flex-direction: column;
      text-align: center;
      a {
        text-decoration: none;
        color: inherit;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        position: relative;
        &:not(:nth-child(1)) {
          @media screen and (min-width: 900px) {
            display: none;
          }
        }
      }

      a:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1.5px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      a:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
  nav {
    display: none;
    gap: 60px;
    @media screen and (min-width: 900px) {
      display: flex;
      font-size: 1.2rem;
    }
    a {
      position: relative;
    }
    a:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1.5px;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    a:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  h1 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.8rem;
    cursor: pointer;
    @media screen and (min-width: 900px) {
      font-size: 2rem;
    }
  }
  &__flyout.active {
    right: 0;
  }
}
